/* add your styles here */
/* add your styles here */
h1{
    text-align: center;
    padding: 32px;
  }

.image{
    display: flex;
    flex-wrap: wrap;
}
 img{
    height: 550px;
    width: 700px;
    margin-bottom: 1.5rem;
    margin-left: 1.5rem;

 }
 *{
    justify-content: center;
 }